@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: 0px;
}

@layer components {
  .note_css {
    @apply lg:block xl:block absolute w-72 h-60 bg-[#fffdb5] hidden
  }

  .main {
    @apply pt-[64px] pl-[65px] bg-green-50 min-h-screen h-screen overflow-hidden
  }

  .canvasEditor {
    @apply flex flex-col lg:flex-row xl:flex-row 2xl:flex-row justify-start items-start w-full h-full pt-10 sm:p-5 md:p-5
  }

  .canvasContainer {
    @apply w-full 2xl:w-2/3 lg:w-2/3 xl:w-2/3 lg:flex xl:flex justify-center items-center flex-col
  }

  .canvasStatusMonitor {
    @apply w-full lg:w-3/4 xl:w-3/4 2xl:w-3/4 flex justify-center items-center
  }

  .canvasStatusController {
    @apply cursor-pointer w-1/2 flex flex-col justify-center items-center text-center border-2 border-[#38a169] rounded-md border-b-0
  }

  .canvas {
    @apply flex justify-center items-center w-full h-full
  }

  .formSidebarContainer {
    @apply lg:w-1/3 xl:w-1/3 w-full h-full pr-5 sm:p-5 md:p-5
  }

  .canvasCarousel {
    @apply hidden xl:flex lg:flex max-h-[600px] h-[600px] w-full justify-center items-center pt-0 overflow-hidden
  }

  .note_css {
    /* @apply lg:block xl:block absolute w-60 h-52 bg-[#fffdb5] hidden */
    @apply lg:block xl:block absolute w-60 h-52 bg-[#fffdb5] hidden
  }

  .application_menu_item {
    @apply flex items-center cursor-pointer transition-all ease-in
  }
}